<div class="cart-container">
  <h2>Carrito</h2>

  <div class="cart-content">
    <div class="card" *ngFor="let item of cartItems" (click)="navigateToDetail(item)">
      <h3>{{ item.experience_name }}</h3>
      <p><strong>Descripción:</strong> {{ item.description }}</p>
      <p><strong>Duración:</strong> {{ item.duration_text }}</p>
      <p><strong>Punto de encuentro:</strong> {{ item.meeting_point }}</p>
      <p><strong>Categoría ID:</strong> {{ item.category_id }}</p>
    </div>

    <div class="details-box" *ngIf="cartItems.length > 0">
      <h3>Detalles</h3>

      <ng-container *ngIf="cartItems[0]?.id as experienceId">
        <ng-container *ngIf="getAvailabilityByExperienceId(experienceId) as availability">
          <p><strong>Inicio:</strong> {{ availability.start_datetime }}</p>
          <p><strong>Fin:</strong> {{ availability.end_datetime }}</p>
          <p><strong>Capacidad:</strong> {{ availability.capacity }}</p>

          <div *ngFor="let ticket of availability.ticket_types">
            <p><strong>Tipo de ticket:</strong> {{ ticket.name }}</p>
            <p><strong>Precio:</strong> S/ {{ ticket.price }}</p>
          </div>
        </ng-container>
      </ng-container>

      <button (click)="confirmPurchase()" class="confirm-btn">Confirmar compra</button>
    </div>
  </div>
</div>
